@import url('https://fonts.googleapis.com/css?family=Aleo|Josefin+Sans:400,700');

// fonts
$font-main: 'Josefin Sans', 'Arial', sans-serif;
$font-second: 'Aleo','Arial', sans-serif;


$dark: #333333;
$blue: #5474fd;
$footer-bg: #232323;

$text-grey: #e8e8e8;
$text-light: #fff;


