@import 'fonts';
@import 'normalize';
@import 'vars';
@import 'mixins';

* {
	box-sizing: border-box;
}

h1,h2,h3,h4,p {
	margin: 0;
}

a {
	text-decoration: none;
}

html {
	font-size: 10px;
	height: 100%;
}

body {
	color: $text-grey;
	font-family: $font-main;
	font-size: 1.4rem;
	line-height: 1.6;
}

.section-btn {
	@include btn;
	transition: all 1s;
	position: relative;
	z-index: 1;
	&:after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color:#496bfe;			
		transition: all 0.6s ease-out;
		z-index: 2;
		opacity: 0;
	}
	&:hover:after,
	&:focus:after {
		opacity: 1;
	}
	&:active:after {
		background-color: lighten(#496bfe,10%);
	}
	&__span {
		position: relative;
  		z-index: 3;
	}	
}

.container {
	width: 1110px;
	max-width: 95%;
	margin: 0 auto;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header {
	position: relative;
	padding: 15vw 0 12vw;
	// min-height: 100vh;
	background-color: darken(blue, 30%);
	@include bg-cover;
	color: $text-light;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-attachment: fixed;
		&__title {
		text-align: center;
		font-size: 2.9vw;
		font-weight: 700;
		letter-spacing: 5px;
		text-transform: uppercase;
	}
	&__subtitle {
		font-size: 1.4vw;
		font-weight: 400;
		letter-spacing: 6.82px;	
	}
	&__search {
		width: 650px;
		max-width: 60vw;	
		display: flex;
		margin: 3vw 0 7vw;
	}
	&__input {
		flex-grow: 7;
		padding: 20px;
		border: 2px solid #fff;
		text-overflow: ellipsis;
		outline: none;
		&::placeholder {
			font-size: 1.4rem;
			font-weight: 400;
			letter-spacing: 3px;
			text-align: center;	
			transition: all .3s;
		}
		&:focus::placeholder {
			opacity: 0;
		}
	}
	&__btn {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 18px;
		border: 2px solid #fff;
		font-size: 1.4rem;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		font-family: $font-second;
		color: #fff;
		background-color: $blue;
		outline: none;
		@include transit;
		&:hover,
		&:focus {
		background-color: darken($blue,5%);
		}
		&:active {
			background-color: lighten($blue,5%);
		}
	}
	&__btn-icon {
		margin-left: 15px;
	}
	&__scroll {
		font-size: 1.4rem;
		font-weight: 400;
		letter-spacing: 2.8px;
		color: #fff;
		@include transit;
		&:hover,
		&:focus,
		&:active {
		transform: scale(1.1);
		}
		&:hover .header__arrow,
		&:focus .header__arrow,
		&:active .header__arrow {
		transform: translatey(2vw) scale(1.4);
		}
	}
	&__arrow {
		display: block;
		margin: 15px auto;
		@include transit($when: 1s);
	}
}
.heading {
	position: absolute;
	bottom: 0;
	padding: 1.5vw 0;
	width: 100%;
	background-color: $blue;
	margin-top: auto;
	&__logo {
		font-size: 1.4vw;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2.4px;
		color: #fff;
		@include transit($when: .5s);
		&:hover,
		&:focus,
		&:active {
		transform: scale(1.1);
		}
	}
	&__navs {
		width: 50%;
		display: flex;
		justify-content: space-between;
	}
	&__nav {
		font-family: $font-second;
		font-size: .9vmax;
		font-weight: 400;
		text-transform: uppercase;
		color: #fff;
		border-bottom: 1px solid transparent;
		@include transit;
		&:hover,
		&:focus,
		&:active {
		border-bottom: 1px solid #fff;
		}
	}
}

.choose {
	@include bg-cover;
	padding: 8vw 0;
	&__flex {
		display: flex;
		justify-content: space-between;
	}
	&__text {
		width: calc(100% / 12 * 7);
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	&__title {
		@include h2;
		color: #fff;
		padding-top: 3.6vw;
	}
	&__p {
		@include p;
		width: 90%;
		letter-spacing: 1.6px;
		}
	&__imgs {
		width: calc(100% / 12 * 5);
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__img-wrp {
		width: 76%;
		height: 48%;
		overflow: hidden;
		margin: 2px 0;
		&--left {
			align-self: flex-start;	
			
		}
		&--right {
			align-self: flex-end;
		}
	}
	&__img {
		object-fit: cover;
		object-position: center;	
		width: 100%;
		height: 100%;
	}
}

.capability {
	padding: 6vw 0 7.1vw;
	background: url(../img/Shape_1.png) 50% 3vw no-repeat $footer-bg;
	&__flex {
		display: flex;
		justify-content: space-around;
	}
	&__item {
		text-align: center;
		background-color: $footer-bg;
		padding-top: 1%; 
		border-radius: 50%;
		width: 30%;
	}
	&__icon {
	}
	&__title {
		font-family: $font-second;
		font-size: 2.2vw;
		font-weight: 400;
		line-height: 1.5;
		margin-top: 15px;
	}

}

.country {
	padding: 12vw 0 6vw;
	@include bg-cover;
	background-attachment: fixed;
	&__flex {
		display: flex;
		flex-direction: column;
	}
	&__content {
		width: 50%;
		padding: 3vw 2vw;
		background-color: $footer-bg;
		opacity: .9;
		&--right {
			align-self: flex-end;
		}
	}
	&__suptitle {
		font-size: 2rem;
		letter-spacing: 1.5px;
	}
	&__title {
		@include h3;
		margin: 2vw 0;
	}
	&__p {
		@include p;
		margin-bottom: 3vw;
	}
}

.feedback {
	padding: 7vw 14vw;
	@include bg-cover;
	&__title {
		text-align: center;
		@include h2;
	}
	&__content {
		display: flex;
		justify-content: center;
		margin-top: 80px;
		align-items: stretch;
	}
	&__img-wrp {
		width: calc(100% / 2 - 10%);
		overflow: hidden;
		background-color: $footer-bg;
		opacity: .9;
	}
	&__img {
		height: 100%;
		width: 100%;	
		object-fit: cover;
		object-position: center;
	}
	&__text {
		width: calc(100% / 2 + 10%);
		padding: 40px 50px;
		background-color: $footer-bg;
		opacity: .9;
	}
	&__username {
		@include h3;
	}
	&__quote {
		margin: 40px 0 0;
		text-indent: 40px;
		position: relative;
		@include p;
	}
	.fa-quote-left {
		position: absolute;
		top: -18px;
		left: -40px;
		color: $blue;
		font-size: 2.3rem;
	}
}

.footer {
	background-color: $footer-bg;
	color: $text-light;
	padding: 7vw 0 3vw;
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__logo {
		@extend .heading__logo;
		letter-spacing: 3.36px;
	}
	&__subtitle {
		letter-spacing: 1.6px;
	}
	&__socials {
		min-width: 165px;
		display: flex;
		justify-content: space-between;
		margin-top: 25px;
	}
	&__social-link {
		color: $text-light;
		@include transit;
		&:hover,
		&:focus {
		color: $blue;
		}
		&:active {
			color: lighten($blue,10%);
		}
	}
	&__social {
		font-size: 1.6rem;
		letter-spacing: 1.6px;
	}
}


@media (min-width: 1600px) {
	
	.header {
	padding: 265px 0 0;
	min-height: 100vh;
	}
	
	.heading__nav {
		font-size: 1.4rem;
	}
}

@media (max-width: 1024px) {
	.choose__img-wrp {
		width: 90%;
		height: 48%;
		&--left {
			align-self: flex-start;	
			
		}
		&--right {
			align-self: flex-end;
		}
	}
	.feedback {
		&__content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin-top: 80px;
		}
		&__img-wrp {
			width: calc(70%);
		}
		&__text {
		width: calc(70%);
		}
	}
	.capability {
			background-position: 50% 3vw;
			background-size: 90%;
		&__flex {
			justify-content: space-between;
		}
		&__item {
			width: 20%;
		}
	}
	.capability .container {
			max-width: 100%;
		}
}

@media (max-width: 770px) {
	.capability {
	background-position: 50% 4vw;
	background-size: 90%;
	}

	.country {
	padding: 6vw 0 6vw;
		&__content {
			width: 75%;
			margin: 0 auto;
			
		}
	}
	.feedback {
		&__content {
			margin-top: 40px;
			}
			&__img-wrp {
				width: calc(100%);
			}
			&__text {
			width: calc(100%);
			}
	}
	.choose {
		&__flex {
			flex-direction: column;
		}
		&__text {
			width: calc(70%);
			margin: 0 auto;	
		}
		&__title {
			margin-bottom: 15px;
		}
		&__p {
			width: 100%;
			margin: 7px 0;
		}
		&__imgs {
			width: 100%;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 20px;
	}
		&__img-wrp {
			width: calc(100% / 2 - 5px);
			height: 48%;
		}
	}
}